#oradores > p {
    font-size: 12px;
}
.textoChico {
    font-size: .8rem;
}

.carousel-item img {
    filter: brightness(50%);
}

.card-body > div >.btn {
    font-size: 12px;
    padding: 0 3px;
}

.description {
    border: solid 1px lightgray;
}

.btn-bsas {
    border-radius: 3px;
    height: 28px;
    font-size: .8rem;
    padding: 0 8px 3px;
}

.img-fluid{
    border: lightgray solid 1px;
    width: 120%;
    
}

.card {
    width: 16rem;
}

.footer{
    width: 100%;
    height: 100px;
    background-color: #1d455c;
}

.footer > div > a{
    text-decoration: none;
    color: lightgray;
}
.footer > div {
    margin: 0 15px;
    text-align: center;
    width: 150px;
}

.decoration {
    text-decoration-line: underline;
    text-decoration-style: dotted;
}

.btn-enviar{
    background-color: #96c93e;
    border-radius: 2px;
    border: none;
}

@media (max-width:820px ) {
    .footer {
        display: block;
        flex-direction: column;
        height: 240px;
    }
    .footer>div {
        margin-top: 5px;
    }
}